---
let options = `flex text-floating-sm sm:text-floating font-bold text-anti_atomic_4 dark:text-atomic_4 p-3`
//let options = `text-floating-sm sm:text-floating font-bold text-amber-600 p-3 pl-[${ml}] mt-[${mt}] mb-[${mb}]`
// if (moving == "false"){
//     options += " floatText"
// }else{
    
//     //options += " floatTextMove"
// }
// console.log(options)
type Props = {
    option?: string
}
const {option} = Astro.props

options += ` ${option}`
---


<div class={options}>
    <slot />
</div>


