---
import { Icon } from "astro-icon/components";
import FloatingText from "../components/FloatingText.astro"
import SkillButton from "./SkillButton.astro";

---


<div class="bg-anti_atomic_1 dark:bg-gray-900 m-2 sm:m-10 p-4 sm:p-10 font-bold rounded-3xl min-h-fit">
    <h1 class="text-3xl m-2 text-anti_atomic_8 dark:text-atomic_8 mt-[5vh] mb-5 ">Languagues</h1>
    <div class="flex flex-row items-center gap-1 flex-wrap">
        <SkillButton text="Python" style="one" visible={false}/>
        <SkillButton text="C#" style="one" visible={false}/>
        <SkillButton text="Kotlin" style="one" visible={false}/>
        <SkillButton text="Java" style="one" visible={false}/>
        <SkillButton text="C" style="one" visible={false}/>
        <SkillButton text="C++" style="one" visible={false}/>
    </div>
    <h1 class="text-3xl m-2 text-anti_atomic_8 dark:text-atomic_8 mt-[10vh]  mb-5">Framework</h1>
    <div class="flex flex-row items-center gap-1 flex-wrap">
        <SkillButton text="PostgresSQL" style="one" visible={false}/>
        <SkillButton text="FastAPI" style="one" visible={false}/>
        <SkillButton text="Jenkins" style="one" visible={false}/>
        <SkillButton text="Selenium" style="one" visible={false}/>
        <SkillButton text="Grafana" style="one" visible={false}/>
        <SkillButton text="Redis" style="one" visible={false}/>
        <SkillButton text="FastAPI" style="one" visible={false}/>
        <SkillButton text="Docker" style="one" visible={false}/>
        <SkillButton text="GCP" style="one" visible={false}/>
        <SkillButton text="AWS" style="one" visible={false}/>
    </div>
    <h1 class="text-3xl m-2 text-anti_atomic_8 dark:text-atomic_8 mt-[10vh]  mb-5">Others</h1>
    <div class="flex flex-row flex-wrap items-center gap-1">
        <SkillButton text="Homelab server" style="one" visible={false}/>
        <SkillButton text="3d Printing" style="one" visible={false}/>
        <SkillButton text="AI model training" style="one" visible={false}/>
        <SkillButton text="Embedded programming" style="one" visible={false}/>
        <SkillButton text="Electrical circuit design" style="one" visible={false}/>
        <SkillButton text="3d modeling" style="one" visible={false}/>
        <SkillButton text="Web design" style="one" visible={false}/>
    </div>
    
    <div class="mb-[5vh]"></div>
</div>


<script>

    const cards = document.querySelectorAll(".skill");
    let observer_option = {
        threshold: 0,
    }
    let delay = 0.2;
    let current = true;
    const observer = new IntersectionObserver(
        (entries) => {
            entries.forEach((entry) => {
                entry.target.classList.toggle("show", entry.isIntersecting);
                entry.target.style.transitionDelay = `${delay}s`;
                delay += 0.1
            });
            delay = 0.2;
        },
        observer_option

    );
    cards.forEach((card) => {
        observer.observe(card);
    });

</script>